.social-links {
    background: #1d92cf;
    padding: 2rem 0 1rem;
  }
  
  .social-links a {
    color: white;
    font-size: 1.2rem;
  }
  
  .social-links i.fa {
    font-size: 1.4rem;
    padding-right: 0.8rem;
    padding-bottom: 1rem;
  }
  
  @media screen and (max-width: 39.9375em) {
    .social-links {
      padding: 2rem 0;
    }
    .social-links i.fa {
      font-size: 2rem;
      display: block;
      padding-right: 0;
      padding-bottom: 0.5rem;
    }
    .social-links a {
      font-weight: bold;
    }
    .social-links .columns {
      margin: 1rem 0;
    }
    .social-links .mobile-stack {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  

  .portfolio-hero-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e6e6e6;
    background-image: url(https://storage.pixteller.com/designs/designs-images/2019-03-27/04/business-background-backgrounds-business-1-5c9b8f72752bc.png);
    padding: 2rem 0;
  }
  
  .portfolio-hero-header-description {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-description li {
    -webkit-flex: 1 0 200px;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
    text-align: center;
    padding: 0 1.25rem;
    position: relative;
    white-space: nowrap;
  }
  
  .portfolio-hero-header-description li:before {
    content: "*";
    position: absolute;
    left: 0;
    top: 5px;
  }
  
  .portfolio-hero-header-description li:first-child:before {
    content: "";
  }
  
  .portfolio-hero-header-menu {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-menu li {
    margin: 1.25rem;
  }
  
  .portfolio-hero-header-menu li a {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }    

  .portfolio-hero-header-logo {
      height: 200px;
      width: 200px;
  }
